<h1>Avaliação P1</h1>
<h2>Ricardo Pupo Larguesa</h2>
<h2>RA: 00000</h2>
<h2><a href="https://github.com/larguesa">Perfil do GitHub</a></h2>
<hr/>
<a [routerLink]="['/bitcoin']">Bitcoin</a> |
<a [routerLink]="['/carteira']">Carteira</a>&nbsp;
<span style="color:red" *ngIf="bitcoinService.getValorizacao()<0">
  ↓{{bitcoinService.getValorizacao() | number}}%
</span>
<span style="color:green" *ngIf="bitcoinService.getValorizacao()>0">
  ↑{{bitcoinService.getValorizacao() | number}}%
</span>
<hr/>
<router-outlet></router-outlet>